{% extends "basicapp/base.html" %}
{% load staticfiles %}

{% block body_block %}
    <div class="container">
        {% if registered %}
            <h1 class="jumbotron">Tank you for registering!</h1>
        {% else %}
            <h1 class="jumbotron">Register Here!</h1>
            <h3 class="jumbotron">Fill out the form:</h3>
            <form enctype="multipart/form-data" method="post" >
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input type="submit" value="Register">
            </form>
        {% endif %}
    </div>
{% endblock %}
